<footer class="footer">
  <div class="footer-description">
    <a href="{{ site.github.url }}/todo" title="todo" aria-label="to do"><i class="fa fa-solids fa-list" aria-hidden="true"></i></a>
    <a href="https://github.com/lee0c/lee0c.github.io" title="src" aria-label="source"><i class="fa fa-solids fa-code-branch" aria-hidden="true"></i></a>
    |<a href="{{ site.github.url }}/">{{ site.title }} from {{ site.author }} in 2022</a>
    |<a href="{{ site.github.url }}/attribution">attribution</a>
  </div>
</footer>
