<header class="site-header">
  <a class="skip-nav" href="#main">Skip to content</a>
  <h1 class="site-title">
    <a href="{{ site.github.url }}/" title="{{ site.title }}" aria-label="{{ site.title }}"><i class="fa fa-solid fa-crow"></i></a>
  </h1>
  <nav class="menu-list">
    <ul>
      <li><button id="theme" title="toggle light/dark mode" class="menu-link"><i class="fa-solid fa-circle-half-stroke" aria-hidden="true"></i></button></li>
    {% for item in site.data.settings.menu %}
      <li><a href="{{ site.github.url }}/{{ item.url }}" class="menu-link">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
  </nav>
</header>
