.featured-post {
  height: 400px;
  margin: 5px 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured-post h2 {
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
  opacity: .85;
}
.featured-post h2 span {
  display: inline-block;
  color: $font-color;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  padding: 10px;
}
.featured-post span a {
  color: #2e303e;
}
.featured-post h1 {
  margin: 10px;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination-button {
  color: #989c9e;
  border: 1px solid #25b0bc;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}
.pagination-active {
  color: $font-color;
}
.pagination-active:hover {
  color: #25b0bc;
}
