@mixin social-media-icon($color, $transition){
  -webkit-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
  &:hover{
    color: $color;
  }
}

.fa-ravelry {
  padding: 5px;
  @include social-media-icon($red, $icon-transition-time);
}

.fa-github {
  padding: 5px;
  @include social-media-icon($orange, $icon-transition-time);
}

.fa-discord {
  padding: 5px;
  @include social-media-icon($yellow, $icon-transition-time);
}

.fa-envelope {
  padding: 5px;
  @include social-media-icon($green, $icon-transition-time);
}

.fa-twitter {
  padding: 5px;
  @include social-media-icon($blue, $icon-transition-time);
}

.fa-instagram {
  padding: 5px;
  @include social-media-icon($purple, $icon-transition-time);
}

