#featured-posts-container {
	position: relative;
	left: -.175rem;
}

.featured-post {
	position: relative;
	top: 0;
	left: 0;
	transition: top .05s ease-in, left .05s ease-in;
	display: grid;
	background-color: var(--color-bg);
	margin: 2rem 0;
	padding: 0;
	border: .25rem solid;
	border-radius: 1.25rem;
	box-shadow: .35rem .35rem var(--color-shadow);
	text-decoration: none;
}

.featured-post:focus{
	outline: none;
}

@media (forced-colors: active) {
	.featured-post:focus {
		outline-offset: .25rem;
		outline: .25rem solid;
	}

	@media (any-hover: hover) {
		.featured-post:hover {
			outline-offset: .25rem;
			outline: .25rem solid;
		}
	}
}

.featured-post:active {
	box-shadow: none;
	top: .2rem;
	left: .2rem;
	box-shadow: .15rem .15rem var(--color-shadow);
}

article:nth-child(odd) .featured-post {
	grid-template-areas:
		'img h2'
		'img tags'
		'img .';
	grid-template-columns: 45% auto;
	border-color: var(--color-teal);
}

article:nth-child(odd) .featured-post:focus {
	background-color: var(--color-teal);
}

@media (any-hover: hover) {
	article:nth-child(odd) .featured-post:hover {
		background-color: var(--color-teal);
	}
}

article:nth-child(even) .featured-post {
	grid-template-areas:
		'h2 img'
		'tags img'
		'. img';
	grid-template-columns: auto 45%;
	border-color: var(--color-pink);
}

article:nth-child(even) .featured-post:focus {
	background-color: var(--color-pink);
}

@media (any-hover: hover) {
	article:nth-child(even) .featured-post:hover {
		background-color: var(--color-pink);
	}
}

@media (max-width: 650px) {
	article:nth-child(n) .featured-post {
		grid-template-areas:
			'img'
			'h2'
			'tags';
		grid-template-columns: auto;
	}
}

.featured-post h2,
.featured-post img,
.featured-post p {
	margin: 0;
}

.featured-post h2 {
	grid-area: h2;
	padding: .25rem .5rem;
	text-transform: uppercase;
	font-size: 1.5rem;
	border-radius: 1rem 1rem 0 0;
	border-bottom: .25rem solid var(--color-pink);
}

article:nth-child(even) .featured-post h2 {
	color: var(--color-pink);
	border-color: var(--color-teal);
	text-align: right;
}

article:nth-child(odd) .featured-post:focus h2 {
	color: var(--color-bg);
	border-color: var(--color-bg);
	background-color: var(--color-teal);
}

article:nth-child(even) .featured-post:focus h2 {
	color: var(--color-bg); /* Can't dedupe these because of specificity rules */
	border-color: var(--color-bg);
	background-color: var(--color-pink);
}

@media (any-hover: hover) {
	article:nth-child(odd) .featured-post:hover h2 {
		color: var(--color-bg);
		border-color: var(--color-bg);
		background-color: var(--color-teal);
	}

	article:nth-child(even) .featured-post:hover h2 {
		color: var(--color-bg); /* Can't dedupe these because of specificity rules */
		border-color: var(--color-bg);
		background-color: var(--color-pink);
	}
}

.featured-post img {
	grid-area: img;
	max-width: min(100%, 1200px);
	margin: 0 auto;
}

.featured-tags {
	grid-area: tags;
	padding: .5rem;
}

article:nth-child(odd) .featured-tags {
	text-align: right;
}

.featured-tags p {
	display: inline;
	background-color: var(--color-teal);
	color: var(--color-bg);
	padding: 0 .5rem;
	border-radius: 1rem;
}

article:nth-child(even) .featured-tags p {
	background-color: var(--color-pink);
}

/* also tags (same as .featured-tags) just the focus lands on the post obj */
.featured-post:focus p {
	background-color: var(--color-pink);
}

article:nth-child(odd) .featured-post:focus p {
	color: var(--color-teal);
	background-color: var(--color-bg);
}

article:nth-child(even) .featured-post:focus p {
	color: var(--color-pink);
	background-color: var(--color-bg);
}

@media (any-hover: hover) {
	.featured-post:hover p {
		background-color: var(--color-pink);
	}

	article:nth-child(odd) .featured-post:hover p {
		color: var(--color-teal);
		background-color: var(--color-bg);
	}

	article:nth-child(even) .featured-post:hover p {
		color: var(--color-pink);
		background-color: var(--color-bg);
	}
}

/*
Pagination
*/

.pagination {
	text-align: center;
}

.pagination-button {
	border-radius: 2rem;
	border: .25rem solid var(--color-grey);
	padding: .75rem 3rem;
	margin: .5rem .25rem;
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}

.pagination-active {
	color: var(--color-pink);
	border-color: var(--color-pink);
	box-shadow: .25rem .25rem var(--color-shadow);
	position: relative;
	top: 0;
	left: 0;
	transition: top .1s ease-in, left .1s ease-in;
}

.pagination-active:focus {
	color: var(--color-bg);
	background-color: var(--color-pink);
	border-color: var(--color-pink);
	outline: none;
	border-radius: 2rem;
}

@media (any-hover: hover) {
	.pagination-active:hover {
		color: var(--color-bg);
		background-color: var(--color-pink);
		border-color: var(--color-pink);
		outline: none;
		border-radius: 2rem;
	}
}

@media (forced-colors: active) {
	.pagination-active:focus {
		outline-offset: .25rem;
		outline: .25rem solid;
	}

	@media (any-hover: hover) {
		.pagination-active:hover {
			outline-offset: .25rem;
			outline: .25rem solid;
		}
	}
}

.pagination-active:active {
	top: .15rem;
	left: .15rem;
	box-shadow: .1rem .1rem var(--color-shadow);
}
