.featured-post {
	height: 400px;
	margin: 1rem 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: block;
	width: 100%;
}

@media (hover: hover) {
	.featured-post:hover {
		outline-width: thick;
	}
}

.featured-post:focus {
	outline-width: thick;
}

.featured-post h2 {
	bottom: 0;
	margin: 0;
	padding: 10px;
	position: absolute;
	opacity: .85;
	display: inline-block;
	color: var(--color-font);
	font: bold 24px/45px var(--font-family);
	text-decoration: underline;
	text-decoration-thickness: 1px;
	transition: text-decoration-thickness .3s ease-out;
}

.featured-post:focus h2 {
	text-decoration: underline;
	text-decoration-thickness: 5px;
}

@media (hover: hover) {
	.featured-post:hover h2 {
		text-decoration: underline;
		text-decoration-thickness: 5px;
	}
}
/*
Pagination
*/

.pagination {
	text-align: center;
}

.pagination-button {
	color: var(--color-grey);
	border-radius: 2rem;
	border: 1px solid var(--color-grey);
	padding: 15px 45px;
	margin: 10px 5px;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}

.pagination-active {
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

@media (hover: hover) {
	.pagination-active:hover {
		color: var(--color-bg);
		background-color: var(--color-primary);
	}
}

.pagination-active:focus {
	color: var(--color-bg);
	background-color: var(--color-primary);
}
