:root {
	color-scheme: light dark;

	--font-family: 'Atkinson Hyperlegible Next', sans-serif;
	--font-family-code: 'Atkinson Hyperlegible Mono', monospace;
	--color-dark: #2e303e;
	--color-dark-alt: #3c3f52;
	--color-light: #ebeeef;
	--color-light-alt: #dbe1e3;
	--color-teal-dark: #18737b;
	--color-teal-light: #25b0bc;
	--color-pink-dark: #94195d;
	--color-pink-light: #ee9fcb;

	--color-shadow: rgba(2, 10, 40, .25);

	--height-header: 56px;
	--height-header-offset: calc(var(--height-header) + 10px);

	/* Used for syntax highlighting */
	--color-red-light: #e95678;
	--color-orange-light: #fab795;
	--color-yellow-light: #fbe6bc;
	--color-green-light: #29d398;
	--color-blue-light: #26bbd9;
	--color-purple-light: #ddaeea;
	--color-grey-light: #b9c3c6;

	--color-red-dark: #991433;
	--color-orange-dark: #883206;
	--color-yellow-dark: #6a4906;
	--color-green-dark: #125940;
	--color-blue-dark: #125663;
	--color-purple-dark: #722999;
	--color-grey-dark: #4a4b64;

	--color-font: light-dark(var(--color-dark), var(--color-light));
	--color-bg: light-dark(var(--color-light), var(--color-dark));

	--color-font-alt: light-dark(var(--color-dark-alt), var(--color-light-alt));
	--color-bg-alt: light-dark(var(--color-light-alt), var(--color-dark-alt));

	--color-teal: light-dark(var(--color-teal-dark), var(--color-teal-light));
	--color-pink: light-dark(var(--color-pink-dark), var(--color-pink-light));

	--color-red: light-dark(var(--color-red-dark), var(--color-red-light));
	--color-orange: light-dark(var(--color-orange-dark), var(--color-orange-light));
	--color-yellow: light-dark(var(--color-yellow-dark), var(--color-yellow-light));
	--color-green: light-dark(var(--color-green-dark), var(--color-green-light));
	--color-blue: light-dark(var(--color-blue-dark), var(--color-blue-light));
	--color-purple: light-dark(var(--color-purple-dark), var(--color-purple-light));
	--color-grey: light-dark(var(--color-grey-dark), var(--color-grey-light));
}

body, h1, h2, h3, h4, h5, h6,
p, pre, hr, dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
	color: var(--color-font);
	background-color: var(--color-bg);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: bold;
	line-height: 1.25;
	text-rendering: optimizeLegibility;
	color: var(--color-teal);
	scroll-margin-top: var(--height-header-offset);
}

main {
	scroll-margin-top: var(--height-header-offset);
}

h1 {
	margin-top: 3rem;
	font-size: 3.5rem;
}
h2 {
	margin-top: 1rem;
	font-size: 2.2rem;
}
h3 {
	margin-top: 1.5rem;
	font-size: 1.6rem;
}
h4, h5, h6 {
	margin-top: 1rem;
	font-size: 1.2rem;
}

/* Body */
body {
	font-family: var(--font-family);
}

body img {
	margin: 5px auto auto auto;
	display: block;
	max-width: 800px;
	border-radius: 1rem;
}

p {
	display: block;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	margin-left: 0;
	margin-right: 0;
	line-height: 1.4;
	font-family: var(--font-family);
}

strong,
b {
	font-weight: 900;
}

/* Lists */
::marker {
	color: var(--color-pink);
}

ul, ol, dl {
	margin: 1rem 0 1rem 1.5rem;
}

li ul, li ol, li dl {
	margin-left: .5rem;
}

@media (max-width: 650px) {
	ul, ol, dl,
	li ul, li ol, li dl {
		margin-left: 0;
	}
}

li,
li ul {
	margin-top: .65rem;
	margin-bottom: .65rem;
}

li {
	margin-left: 1.5rem;
	line-height: 1.25;
}

dt {
	font-weight: 900;
}

dd {
	margin-left: 2rem;
	margin-bottom: .5rem;
}

/*
  Links
*/
a {
	color: var(--color-font);
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-thickness: .2rem;
	text-decoration-color: var(--color-teal);
	transition: text-decoration-thickness .5s;
	padding: 0 .1rem; /* These stop the focus outline from covering text */
	margin: 0 .1rem;
}

a:focus-visible {
	text-decoration: none;
	border-radius: 1rem;
	outline: .2rem solid var(--color-teal);
}

@media (any-hover: hover) {
	a:hover {
		text-decoration-thickness: .4rem;
	}
}

a:active {
	text-decoration-thickness: .4rem;
}

/* Buttons (none used at current) */
button {
	color: var(--color-pink);
	background-color: var(--color-bg);
}

@media (any-hover: hover) {
	button:hover {
		color: var(--color-bg);
		background-color: var(--color-pink);
		outline: solid var(--color-teal);
		outline-offset: 2px;
	}
}

button:focus-visible {
	color: var(--color-bg);
	background-color: var(--color-pink);
	outline: solid var(--color-teal);
	outline-offset: 2px;
}

/*
Blockquote
*/

blockquote {
	margin: .5rem 1rem;
	padding: 0 1rem;
	border-radius: .25rem 1rem 1rem .25rem;
	line-height: 1.25;
	border-left: .5rem solid var(--color-pink);
}

blockquote,
blockquote p,
blockquote ol,
blockquote ul {
	background-color: var(--color-bg-alt);
	padding: .5rem;
	margin: 0;
}

/**
* Tables
*/
table {
	margin-bottom: 30px;
	width: 100%;
	border-spacing: 0; /* border collapse doesn't play nice with radii */
	border-radius: .3rem;
	border: thin solid var(--color-pink);
}

th {
	color: var(--color-bg);
	background-color: var(--color-pink);
}

th, td {
	padding: .5rem;
	text-align: left;
}

tr:nth-child(even) { background-color: var(--color-bg-alt); }
th:not(:first-child) { border-left: thin solid var(--color-bg); }
th:first-child { border-top-left-radius: .25rem; }
th:last-child { border-top-right-radius: .25rem; }
td:not(:first-child) { border-left: thin solid var(--color-pink); }

/**
* Times
*/
time {
	color: var(--color-grey);
}

/* hr */
hr {
	color: var(--color-teal);
	border: .25rem solid var(--color-teal);
	margin: 2rem 0;
}
hr:last-child {
	margin-bottom: 0;
}

/*
Site container
*/
.container {
	width: 95vw;
	height: calc(100vh - var(--height-header-offset));
	margin: auto;
}
.content-wrapper {
	position: relative;
	top: var(--height-header-offset);
	margin: auto;
	display: block;
	width: 92vw;
}

@media (min-width: 800px) {
	.content-wrapper {
		width: 80vw;
	}
}

@media (min-width: 1200px) {
	.content-wrapper {
		width: 65vw;
	}
}
