---
---

$base-font-family: 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$code-font-family: "Source Code Pro", monospace;

$brand-color: #25b0bc;

$container-width: 1100px;
$tablet-width: 600px;
$phone-width: 480px;

$header-thickness: 56px;

$icon-transition-time: 1.0s;
$red: #e95678;
$orange: #fab795;
$yellow: #fbe6bc;
$green: #29d398;
$blue: #26bbd9;
$purple: #b877db;

@import "-sections-dir";
