:root {
	color-scheme: light dark;
	
	--font-family: 'Atkinson Hyperlegible', sans-serif;
	--font-family-code: 'Source Code Pro', monospace;
	--color-dark: #2e303e;
	--color-teal-dark: #18737b;
	--color-teal-light: #25b0bc;
	--color-pink-dark: #94195d;
	--color-pink-light: #ee9fcb;
	--color-light: #ebeeef;
	--color-shadow: rgba(2, 10, 40, .25);

	--height-header: 56px;
	--height-header-offset: calc(var(--height-header) + 10px);

	/* Used for syntax highlighting */
	--color-red-light: #e95678;
	--color-orange-light: #fab795;
	--color-yellow-light: #fbe6bc;
	--color-green-light: #29d398;
	--color-blue-light: #26bbd9;
	--color-purple-light: #ddaeea;
	--color-grey-light: #b9c3c6;

	--color-red-dark: #991433;
	--color-orange-dark: #883206;
	--color-yellow-dark: #6a4906;
	--color-green-dark: #125940;
	--color-blue-dark: #125663;
	--color-purple-dark: #722999;
	--color-grey-dark: #4a4b64;
}

body, h1, h2, h3, h4, h5, h6,
p, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  color: light-dark(var(--color-dark), var(--color-light));
  background-color: light-dark(var(--color-light), var(--color-dark));
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: bold;
	line-height: 1.25;
	text-rendering: optimizeLegibility;
	color: light-dark(var(--color-teal-dark), var(--color-teal-light));
	scroll-margin-top: var(--height-header-offset);
}

main {
	scroll-margin-top: var(--height-header-offset);
}

h1 {
	font-size: 3rem;
}
h2 {
	margin-top: 1rem;
	font-size: 2em;
}
h3 {
	margin-top: 1.5rem;
	font-size: 1.6rem;
}
h4, h5, h6 {
	margin-top: 1rem;
	font-size: 1.2rem;
}

/* Body */
body {
	font-family: var(--font-family);
}
body img {
	margin: 5px auto auto auto;
	display: block;
	max-width: 800px;
	border-radius: 1rem;
}

p {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	line-height: 1.65;
	font-family: var(--font-family);
}

/* Lists */
ul, ol, dl {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1.5rem;
	font-family: var(--font-family);
}

ol li {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1.5rem;
}

li {
	margin-bottom: .5rem;
}

dt {
	font-weight: bold;
}
dd {
	margin-bottom: .5rem;
}

/*
  Links
*/
a {
	color: light-dark(var(--color-dark), var(--color-light));
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: .25rem;
  text-decoration-color: light-dark(var(--color-teal-dark), var(--color-teal-light));
  transition: text-decoration-thickness .5s;
	padding: 0 .2rem; /* These stop the focus outline from covering text */
	margin: 0 .1rem;
}

a:focus {
	text-decoration: none;
	border-radius: 1rem;
	outline: .25rem solid light-dark(var(--color-teal-dark), var(--color-teal-light));
}

a:hover,
a:active {
	text-decoration-thickness: .5rem;
}

a:active {
	text-decoration-color: light-dark(var(--color-pink-dark), var(--color-pink-light));
}

/* Buttons */
button {
	color: light-dark(var(--color-pink-dark), var(--color-pink-light));
	background-color: light-dark(var(--color-light), var(--color-dark));
}

@media (hover: hover) {
	button:hover {
		color: light-dark(var(--color-light), var(--color-dark));
		background-color: light-dark(var(--color-pink-dark), var(--color-pink-light));
		outline: solid light-dark(var(--color-teal-dark), var(--color-teal-light));
		outline-offset: 2px;
	}
}

button:focus {
	color: light-dark(var(--color-light), var(--color-dark));
	background-color: light-dark(var(--color-pink-dark), var(--color-pink-light));
	outline: solid light-dark(var(--color-teal-dark), var(--color-teal-light));
	outline-offset: 2px;
}


/*
Blockquote
*/

blockquote {
	margin: 10px 20px;
	padding: 0px 15px;
	border-radius: 1rem;
	line-height: 1.5;
}

blockquote,
blockquote p,
blockquote ol,
blockquote ul {
	color: light-dark(var(--color-light), var(--color-dark));
	background-color: light-dark(var(--color-teal-dark), var(--color-teal-light));
}

blockquote a {
	color: light-dark(var(--color-light), var(--color-dark));
}

@media (hover: hover) {
	blockquote a:hover {
		color: light-dark(var(--color-teal-dark), var(--color-teal-light));
		background-color: light-dark(var(--color-light), var(--color-dark));
	}
}
blockquote a:focus {
	color: light-dark(var(--color-teal-dark), var(--color-teal-light));
	background-color: light-dark(var(--color-light), var(--color-dark));
}

/**
* Tables
*/
table {
	border-collapse: collapse;
	margin-bottom: 30px;
	width: 100%;
}

table, th, td {
	border: 1px solid light-dark(var(--color-dark), var(--color-light));
}
th, td {
	padding: 15px;
	text-align: left;
}

/**
* Times
*/
time {
	color: light-dark(var(--color-grey-dark), var(--color-grey-light));
}

hr {
	color: light-dark(var(--color-teal-dark), var(--color-teal-light));
	border: .25rem solid light-dark(var(--color-teal-dark), var(--color-teal-light));
}

/*
Site container
*/

.container {
	width: 95vw;
	height: 100vh;
	margin: auto;
}
.content-wrapper {
	position: relative;
	top: var(--height-header-offset);
	margin: auto;
	display: block;
	width: 95vw;
}

@media (min-width: 800px) {
	.content-wrapper {
		width: 80vw;
	}
}

@media (min-width: 1200px) {
	.content-wrapper {
		width: 65vw;
	}
}
.content-wrapper h1 {
	margin: 20px 0px 20px;
}


/*
Tags
*/

.tag {
	position: relative;
	top: 0;
	left: 0;
	transition: top .1s ease-in, left .1s ease-in;
	text-decoration: none;
	color: light-dark(var(--color-teal-dark), var(--color-teal-light));
	padding: 0 .5rem;
	border-radius: 1rem;
	box-shadow: .15rem .15rem var(--color-shadow);
	border: .08rem solid light-dark(var(--color-teal-dark), var(--color-teal-light));
}

.tag:hover,
.tag:focus {
	outline: none;
	background-color: light-dark(var(--color-teal-dark), var(--color-teal-light));
	color: light-dark(var(--color-light), var(--color-dark));
}

@media (forced-colors: active) {
	.tag:focus,
	.tag:hover {
		outline-offset: .08rem;
		outline: .08rem solid;
	}
}

.tag:active {
	top: .1rem;
	left: .1rem;
	box-shadow: .05rem .05rem var(--color-shadow);
}

