:root {
	color-scheme: light dark;

	--font-family: 'Atkinson Hyperlegible', sans-serif;
	--font-family-code: 'Source Code Pro', monospace;
	--color-dark: #2e303e;
	--color-light: #ebeeef;
	--color-teal-dark: #18737b;
	--color-teal-light: #25b0bc;
	--color-pink-dark: #94195d;
	--color-pink-light: #ee9fcb;

	--color-shadow: rgba(2, 10, 40, .25);

	--height-header: 56px;
	--height-header-offset: calc(var(--height-header) + 10px);

	/* Used for syntax highlighting */
	--color-red-light: #e95678;
	--color-orange-light: #fab795;
	--color-yellow-light: #fbe6bc;
	--color-green-light: #29d398;
	--color-blue-light: #26bbd9;
	--color-purple-light: #ddaeea;
	--color-grey-light: #b9c3c6;

	--color-red-dark: #991433;
	--color-orange-dark: #883206;
	--color-yellow-dark: #6a4906;
	--color-green-dark: #125940;
	--color-blue-dark: #125663;
	--color-purple-dark: #722999;
	--color-grey-dark: #4a4b64;

	--color-font: light-dark(var(--color-dark), var(--color-light));
	--color-bg: light-dark(var(--color-light), var(--color-dark));

	--color-teal: light-dark(var(--color-teal-dark), var(--color-teal-light));
	--color-pink: light-dark(var(--color-pink-dark), var(--color-pink-light));

	--color-red: light-dark(var(--color-red-dark), var(--color-red-light));
	--color-orange: light-dark(var(--color-orange-dark), var(--color-orange-light));
	--color-yellow: light-dark(var(--color-yellow-dark), var(--color-yellow-light));
	--color-green: light-dark(var(--color-green-dark), var(--color-green-light));
	--color-blue: light-dark(var(--color-blue-dark), var(--color-blue-light));
	--color-purple: light-dark(var(--color-purple-dark), var(--color-purple-light));
	--color-grey: light-dark(var(--color-grey-dark), var(--color-grey-light));
}

body, h1, h2, h3, h4, h5, h6,
p, pre, hr, dl, dd, ol, ul, figure {
	margin: 0;
	padding: 0;
	color: var(--color-font);
	background-color: var(--color-bg);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: bold;
	line-height: 1.25;
	text-rendering: optimizeLegibility;
	color: var(--color-teal);
	scroll-margin-top: var(--height-header-offset);
}

main {
	scroll-margin-top: var(--height-header-offset);
}

h1 {
	font-size: 3.5rem;
}
h2 {
	margin-top: 1rem;
	font-size: 2.2rem;
}
h3 {
	margin-top: 1.5rem;
	font-size: 1.6rem;
}
h4, h5, h6 {
	margin-top: 1rem;
	font-size: 1.2rem;
}

/* Body */
body {
	font-family: var(--font-family);
}

body img {
	margin: 5px auto auto auto;
	display: block;
	max-width: 800px;
	border-radius: 1rem;
}

p {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	line-height: 1.25;
	font-family: var(--font-family);
}

strong,
b {
	font-weight: 900;
}

/* Lists */
ul, ol, dl {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1.5rem;
	font-family: var(--font-family);
}

@media (max-width: 650px) {
	ul, ol, dl {
		margin-left: 0;
	}
}

li,
li ul {
	margin-top: .65rem;
	margin-bottom: .65rem;
}

li {
	margin-left: 1.5rem;
	line-height: 1.25;
}

dt {
	font-weight: bold;
}
dd {
	margin-left: 2rem;
	margin-bottom: .5rem;
}

/*
  Links
*/
a {
	color: var(--color-font);
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-thickness: .2rem;
	text-decoration-color: var(--color-teal);
	transition: text-decoration-thickness .5s;
	padding: 0 .1rem; /* These stop the focus outline from covering text */
	margin: 0 .1rem;
}

a.section-anchor {
	margin: 0;
}

a:focus-visible {
	text-decoration: none;
	border-radius: 1rem;
	outline: .2rem solid var(--color-teal);
}

@media (any-hover: hover) {
	a:hover {
		text-decoration-thickness: .4rem;
	}
}

a:active {
	text-decoration-thickness: .4rem;
}

/* Buttons */
button {
	color: var(--color-pink);
	background-color: var(--color-bg);
}

@media (any-hover: hover) {
	button:hover {
		color: var(--color-bg);
		background-color: var(--color-pink);
		outline: solid var(--color-teal);
		outline-offset: 2px;
	}
}

button:focus-visible {
	color: var(--color-bg);
	background-color: var(--color-pink);
	outline: solid var(--color-teal);
	outline-offset: 2px;
}

/*
Blockquote
*/

blockquote {
	margin: 10px 20px;
	padding: 0px 15px;
	border-radius: 1rem;
	line-height: 1.25;
}

blockquote,
blockquote p,
blockquote ol,
blockquote ul {
	color: var(--color-bg);
	background-color: var(--color-teal);
}

blockquote a {
	color: var(--color-bg);
	text-decoration-color: var(--color-bg);
}

/**
* Tables
*/
table {
	border-collapse: collapse;
	margin-bottom: 30px;
	width: 100%;
}

table, th, td {
	border: 1px solid var(--color-font);
}
th, td {
	padding: 15px;
	text-align: left;
}

/**
* Times
*/
time {
	color: var(--color-grey);
}

/* hr */

hr {
	color: var(--color-teal);
	border: .25rem solid var(--color-teal);
}

/*
Site container
*/

.container {
	width: 95vw;
	height: 100vh;
	margin: auto;
}
.content-wrapper {
	position: relative;
	top: var(--height-header-offset);
	margin: auto;
	display: block;
	width: 95vw;
}

@media (min-width: 800px) {
	.content-wrapper {
		width: 80vw;
	}
}

@media (min-width: 1200px) {
	.content-wrapper {
		width: 65vw;
	}
}
.content-wrapper h1 {
	margin: 20px 0px 20px;
}

/*
Tags
*/

.tag {
	position: relative;
	top: 0;
	left: 0;
	transition: top .1s ease-in, left .1s ease-in;
	text-decoration: none;
	color: var(--color-teal);
	padding: 0 .5rem;
	border-radius: 1rem;
	box-shadow: .15rem .15rem var(--color-shadow);
	border: .08rem solid var(--color-teal);
}

.tag:focus-visible {
	outline: none;
	background-color: var(--color-teal);
	color: var(--color-bg);
}

@media (any-hover: hover) {
	.tag:hover {
		outline: none;
		background-color: var(--color-teal);
		color: var(--color-bg);
	}
}

@media (forced-colors: active) {
	.tag:focus-visible {
		outline-offset: .08rem;
		outline: .08rem solid;
	}

	@media (any-hover: hover) {
		.tag:hover {
			outline-offset: .08rem;
			outline: .08rem solid;
		}
	}
}

.tag:active {
	top: .1rem;
	left: .1rem;
	box-shadow: .05rem .05rem var(--color-shadow);
}

