---
---

$base-font-family: 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$code-font-family: "Source Code Pro", monospace;

$brand-color: #25b0bc;

$container-width: 1100px;
$tablet-width: 600px;
$phone-width: 480px;

$header-thickness: 56px;

$icon-transition-time: 1.0s;
$ravelry-color: #e95678;
$github-color: #fab795;
$code-color: #fbe6bc;
$envelope-color: #29d398;
$twitter-color: #26bbd9;
$instagram-color: #b877db;
$rss-color: #ff6600;

@import "-sections-dir";
