.site-header {
	top: 0px;
	left: 0px;
	min-height: var(--height-header);
	width: 100%;
	position: fixed;
	background-color: var(--color-bg);
	box-shadow: 0 .25rem .15rem var(--color-shadow);
	z-index: 10;
}

#skip-nav {
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -99;
}

#skip-nav:focus {
	display: inline-block;
	left: auto;
	top: auto;
	width: auto;
	height: auto;
	overflow: auto;
	margin: calc((var(--height-header) - 1.2rem - .5rem) / 2) 10%;
	z-index: 999;
}

#menu ul {
	display: flex;
	justify-content: center;
	gap: 2%;
	margin: 0 1rem;
}

#menu ul li {
	display: inline-block;
	list-style: none;
	margin: 0;
	line-height: var(--height-header);
}

.site-header a {
	position: relative;
	top: 0;
	left: 0;
	transition: top .05s ease-in, left .05s ease-in;
	border-radius: 1rem;
	border: .125rem solid var(--color-pink);
	color: var(--color-pink);
	text-decoration: none;
	padding: 0 .25rem;
	box-shadow: .15rem .15rem var(--color-shadow);
	font-size: 1.2rem;
}

.site-header a:focus {
	color: var(--color-bg);
	border-color: var(--color-pink);
	background-color: var(--color-pink);
	outline: none;
}

@media (any-hover: hover) {
	.site-header a:hover {
		color: var(--color-bg);
		border-color: var(--color-pink);
		background-color: var(--color-pink);
		outline: none;
	}
}

@media (forced-colors: active) {
	.site-header a:focus {
		outline-offset: .125rem;
		outline: .125rem solid;
	}

	@media (any-hover: hover) {
		.site-header a:hover {
			outline-offset: .125rem;
			outline: .125rem solid;
		}
	}
}

.site-header a:active {
	top: .1rem;
	left: .1rem;
	box-shadow: .05rem .05rem var(--color-shadow);
}

#current-page a {
	border-color: var(--color-teal);
	color: var(--color-teal);
}

#current-page a:focus {
	color: var(--color-bg);
	background-color: var(--color-teal);
}

@media (any-hover: hover) {
	#current-page a:hover {
		color: var(--color-bg);
		background-color: var(--color-teal);
	}
}

.site-header i {
	color: var(--color-teal);
	padding-left: .25rem;
}

#current-page i {
	color: var(--color-pink);
}

.site-header a:focus i,
#current-page a:focus i {
	color: var(--color-bg);
}

@media (any-hover: hover) {
	.site-header a:hover i,
	#current-page a:hover i {
		color: var(--color-bg);
	}
}

@media (max-width: 650px) {
	.header-text {
		display: none;
	}
	
	.site-header a {
		padding: .15rem .5rem;
	}

	.site-header i {
		padding: 0;
	}
}

.footer {
	position: relative;
	top: var(--height-header-offset);
	text-align: center;
	line-height: 3rem;
	width: 100%;
	min-height: 2rem;
}

.footer p {
	color: var(--color-pink);
	font-weight: bold;
}

.footer a {
	padding: 0 .5rem;
	border-radius: 1rem;
	text-decoration-color: var(--color-pink);
	text-decoration-thickness: .175rem;
}

.footer a:focus {
	outline-color: var(--color-pink);
}

@media (any-hover: hover) {
	.footer a:hover {
		text-decoration-thickness: .35rem;
	}
}

.footer-description {
	display: block;
	color: var(--color-font);
	font-size: .9rem;
}
