.site-header {
	top: 0px;
	min-height: 56px;
	width: 96%;
	position: fixed;
	background-color: var(--color-bg);
	box-shadow: 0 5px 6px -6px rgba(0,0,0,0.2);
	z-index: 100;
}
.site-header a {
	text-decoration: none;
}
#site-title {
	font-size: 26px;
	font-weight: 400;
	line-height: 56px;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 10px;
}
#menu {
	line-height: var(--height-header);
}
#menu ul {
    margin: 0;
}
#menu ul li {
    margin: 0;
    list-style: none;
    display: inline-block;
}
#menu ul li button {
	background-color: var(--color-bg);
	color: var(--color-accent);
	border: none;
	cursor: pointer;
}
.menu-link {
	padding: 5px 10px;
}

/* Skip navigation link */

.skip-nav {
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
}

.skip-nav:focus {
	left: auto;
	top: auto;
	width: 20%;
	height: auto;
	overflow: auto;
	margin: 10px 10%;
	padding: 5px;
	border-radius: 5px;
	border: 3px solid var(--color-accent);
	text-align: center;
	font-size: 1.2em;
	z-index: 999;
}

.footer {
	position: relative;
	top: 56px;
    text-align: center;
    min-height: 56px;
    line-height: 45px;
    width: 100%;
}

.footer a {
    color: var(--color-accent);
    padding: 0px 10px 0px;
    text-decoration: none;
}

.footer-description {
    display: block;
    margin-bottom: 1rem;
    color: var(--font-color);
    font-size:0.8rem;
}
  