.site-header {
	top: 0px;
	min-height: 56px;
	width: 96%;
	position: fixed;
	background-color: var(--color-bg);
	box-shadow: 0 5px 6px -6px rgba(0,0,0,0.2);
	z-index: 100;
}
.site-header a {
	text-decoration: none;
	border-radius: 1rem;
	padding: 0 10px;
}
#site-title {
	font-size: 2rem;
	font-weight: 400;
	line-height: 56px;
	margin-bottom: 0;
	margin-top: 0;
}

#menu {
	line-height: var(--height-header);
}
#menu ul {
    margin: 0;
}
#menu ul li {
	font-size: 1.2rem;
    margin: .2rem 0;
    list-style: none;
    display: inline-block;
}
#menu ul li button {
	margin: 0;
	font-size: 1.2rem;
	border: none;
	cursor: pointer;
}
.menu-link {
	padding: 0 .6rem;
	border-radius: 1rem;
}

/* Hide the handedness toggle on small screens */
@media (max-width: 500px) {
	#alignment {
	  display: none;
	}
  }

/* Skip navigation link */

.skip-nav {
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
}

.skip-nav:focus {
	left: auto;
	top: auto;
	width: 20%;
	height: auto;
	overflow: auto;
	margin: 10px 10%;
	padding: 5px;
	border-radius: 5px;
	border: 3px solid var(--color-primary);
	text-align: center;
	font-size: 1.2em;
	z-index: 999;
}

.footer {
	position: relative;
	top: 56px;
    text-align: center;
    min-height: 56px;
    line-height: 45px;
    width: 100%;
}

.footer a {
    padding: 0 10px;
    text-decoration: none;
	border-radius: 1rem;
}

.footer-description {
    display: block;
    margin-bottom: 1rem;
    color: var(--font-color);
    font-size:0.8rem;
}
