.page-content {
	max-width: 800px;
	display: block;
	margin: 10px auto 10px;
	padding: 0px 10px 10px;
	color: var(--color-font);
}

.page-content img,
.post-content img {
	max-width: min(100%, 1200px);
	margin: 0 auto;
}

.post-content {
	width: 60vw;
	display: block;
	margin: 10px auto 10px;
}

.post-content h1 {
	margin-bottom: .25rem;
	border-bottom: .25rem solid var(--color-pink);
}

.post-date {
	display: block;
	margin-bottom: 0;
	margin-top: .5rem;
	font-weight: unset;
	color: var(--color-grey);
	font-size: .85rem;
}

.tag-block {
	text-align: right;
	margin: 0;
}

.featured-image img {
	margin: 5px auto 25px;
	display: block;
	max-width: min(60vw, 1200px);
}

@media (max-width: 600px) {
	.post-content {
		width: 95vw;
	}
	.featured-image img {
		max-width: 95vw;
	}
}

/* anchor links */

.section-anchor {
	font-size: .6em;
	vertical-align: middle;
	color: var(--color-teal);
	border-radius: 1rem;
	border: solid .1rem var(--color-teal);
	box-shadow: .15rem .15rem var(--color-shadow);
	position: relative;
	top: 0;
	left: 0;
	transition: top .1s ease-in, left .1s ease-in;
	padding: 0 .5rem;
}

.section-anchor:focus {
	background-color: var(--color-teal);
	color: var(--color-bg);
	outline: none;
}

@media (any-hover: hover) {
	.section-anchor:hover {
		background-color: var(--color-teal);
		color: var(--color-bg);
		outline: none;
	}
}

@media (forced-colors: active) {
	.section-anchor:focus {
		outline-offset: .1rem;
		outline: .1rem solid;
	}

	@media (any-hover: hover) {
		.section-anchor:hover {
			outline-offset: .1rem;
			outline: .1rem solid;
		}
	}
}

.section-anchor:active {
	box-shadow: .05rem .05rem var(--color-shadow);
	top: .1rem;
	left: .1rem;
}

/* Resume page only! */

.two-col {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.col2 {
	text-align: right;
}

.centered {
	text-align: center;
}

.upper {
	text-transform: uppercase;
}

.spacer {
	height: 1rem;
	border-top: solid var(--color-teal);
}

.job-details p {
	margin: 0;
}

.job p {
	margin-top: 0;
}

.job h4 {
	margin: 0;
	line-height: 1.65;
}
