.page-content {
	max-width: 800px;
	display: block;
	margin: .5rem auto 0;
	padding: 0 .5rem;
	color: var(--color-font);
}

.page-content img,
.post-content img {
	max-width: min(100%, 1200px);
	margin: 0 auto;
}

.post-content {
	width: 60vw;
	display: block;
	margin: 10px auto 10px;
}

.post-content h1 {
	margin-bottom: .25rem;
	border-bottom: .25rem solid var(--color-pink);
	margin-bottom: .5rem;
}

.post-date {
	display: block;
	margin-bottom: 0;
	margin-top: .5rem;
	font-weight: unset;
	color: var(--color-grey);
	font-size: .85rem;
}

.tag-block {
	text-align: right;
	margin: 0;
}

.featured-image img {
	margin: 5px auto 25px;
	display: block;
	max-width: min(60vw, 1200px);
}

@media (max-width: 600px) {
	.post-content {
		width: 95vw;
	}
	.featured-image img {
		max-width: 95vw;
	}
}

/* anchor links */
.section-anchor {
	font-size: .6em;
	vertical-align: middle;
	color: var(--color-pink);
	border-radius: 1rem;
	border: solid .1rem;
	box-shadow: .15rem .15rem var(--color-shadow);
	position: relative;
	top: 0;
	left: 0;
	transition: top .1s ease-in, left .1s ease-in;
	padding: 0 .5rem;
	margin: 0;
}

.section-anchor:focus-visible {
	background-color: var(--color-pink);
	color: var(--color-bg);
	outline: none;
}

@media (any-hover: hover) {
	.section-anchor:hover {
		background-color: var(--color-pink);
		color: var(--color-bg);
		outline: none;
	}
}

@media (forced-colors: active) {
	.section-anchor:focus-visible {
		outline-offset: .1rem;
		outline: .1rem solid;
	}

	@media (any-hover: hover) {
		.section-anchor:hover {
			outline-offset: .1rem;
			outline: .1rem solid;
		}
	}
}

.section-anchor:active {
	box-shadow: .05rem .05rem var(--color-shadow);
	top: .1rem;
	left: .1rem;
}

/* Tags */
.tag {
	position: relative;
	top: 0;
	left: 0;
	transition: top .1s ease-in, left .1s ease-in;
	text-decoration: none;
	color: var(--color-teal);
	padding: 0 .5rem;
	border-radius: 1rem;
	box-shadow: .15rem .15rem var(--color-shadow);
	border: .08rem solid var(--color-teal);
	line-height: 2;
}

.tag:focus-visible {
	outline: none;
	background-color: var(--color-teal);
	color: var(--color-bg);
}

@media (any-hover: hover) {
	.tag:hover {
		outline: none;
		background-color: var(--color-teal);
		color: var(--color-bg);
	}
}

@media (forced-colors: active) {
	.tag:focus-visible {
		outline-offset: .08rem;
		outline: .08rem solid;
	}

	@media (any-hover: hover) {
		.tag:hover {
			outline-offset: .08rem;
			outline: .08rem solid;
		}
	}
}

.tag:active {
	top: .1rem;
	left: .1rem;
	box-shadow: .05rem .05rem var(--color-shadow);
}

/* Resume page only! */
.two-col {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.col2 {
	text-align: right;
}

.centered {
	text-align: center;
}

.upper {
	text-transform: uppercase;
}

.spacer {
	height: 1rem;
	border-top: solid var(--color-teal);
}

.job-details p {
	margin: 0;
}

.job-details a {
	font-size: 1rem;
}

.job p {
	margin-top: 0;
}

.job h4 {
	margin: 0;
	line-height: 1.65;
}

/* Palette page */

.color {
	border: .125rem solid var(--color-font);
	border-radius: 2rem;
	padding: .5rem;
	text-align: center;
	width: 65%;
	margin: 1rem auto;
	font-weight: bold;
}

#dark,
#dark-alt,
#teal-dark,
#pink-dark {
	color: var(--color-light);
}

#light,
#light-alt,
#teal-light,
#pink-light {
	color: var(--color-dark);
}

#dark { background-color: var(--color-dark); }
#dark-alt { background-color: var(--color-dark-alt); }
#light { background-color: var(--color-light); }
#light-alt { background-color: var(--color-light-alt); }
#teal-dark { background-color: var(--color-teal-dark); }
#teal-light { background-color: var(--color-teal-light); }
#pink-dark { background-color: var(--color-pink-dark); }
#pink-light { background-color: var(--color-pink-light); }
