<!doctype html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <main class="content-wrapper" id="main">
        {% include anchor_headings.html
            html=content
            anchorBody='<i class="fa-solid fa-anchor" aria-hidden="true"></i>'
            anchorClass="section-anchor"
            anchorTitle="permalink to section: %heading%"
            anchorAttrs='aria-label="permalink to section: %heading%"' %}
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
