---
layout: default
title: Home
---

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ paginator.previous_page_path }}" aria-label="next - newer posts">&lt; next</a>
  {% else %}
    <p class="pagination-button">&lt; next</p>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ paginator.next_page_path }}" aria-label="previous - older posts">prev &gt;</a>
  {% else %}
    <p class="pagination-button">prev &gt;</p>
  {% endif %}
</div>
