---
layout: default
title: Home
---

<h1>home</h1>

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ paginator.next_page_path }}" aria-label="older posts">&lt; older</a>
  {% else %}
    <p class="pagination-button">&lt; older</p>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ paginator.previous_page_path }}" aria-label="newer posts">newer &gt;</a>
  {% else %}
    <p class="pagination-button">newer &gt;</p>
  {% endif %}
</div>
