---
layout: default
---

<div class="post-content">
  <h1>
    {{ page.title }}
  </h1>
  {% if site.hide_post_date != true %}
    {% include post-date.html %}
  {% endif %}
  {% if page.image %}
    <div class="featured-image">
      <img src="{{ site.github.url }}/assets/img/{{ page.image.name }}" alt="{{ page.image.alt }}">
    </div>
  {% endif %}
  <article>
    {{ content }}
  </article>
  <hr>
  {% if page.category == 'available' %}
    <p>
      this item is available! <a href="shop">check the FAQ</a> for more info on ordering.
    </p>
  {% endif %}
  <p>
    category: <a href="{{ page.category }}">{{ page.category }}</a>
  </p>
  {% if page.tags.size > 0 %}
    <hr>
    <p>
      see more
    {% for tag in page.tags %}
      <a href="tag/{{ tag }}">{{ tag }}</a>
    {% endfor %}
    </p>
  {% endif %}
</div>
